<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base_user::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
      <section>
 <div style="background-color: white;"class="col-md-8 offset-md-2">
     		<div th:if="${session.message}" class="alert alert-primary" role="alert"><p th:text="${session.message}" />
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>			
			</div>

			
			<h2 align="center" style="color:dark-brown">TRANSFER MONEY TO OTHER CARD</h2>
     	<form action="" th:action="@{/transferMoneyProcess}" method="post">
			
			<div class="mb-1">
				<label for="exampleInputEmail1" class="form-label">PLEASE ENTER CARD NO</label> <input type="name" name="rCard" class="form-control" placeholder="Card no should in 4 digit">
		<div id="emailHelp" class="form-text"></div>
			</div>
			<div class="mb-1">
				<label for="exampleInputEmail1" class="form-label">PLEASE ENTER AMOUNT</label> <input type="name" name="amount" class="form-control" placeholder="Maximum amount 10000">
		<div id="emailHelp" class="form-text"></div>
			</div>
			<div class="mb-1">
				<label for="exampleInputEmail1" class="form-label">PLEASE ENTER PASSOWRD</label> <input type="password" name="pass" class="form-control" >
				<div id="emailHelp" class="form-text"></div>
			</div>
			<button type="submit" class="btn btn-primary">TRANSFER MONEY</button>
			</form>

  		</section>
    </body>
</html>
